@model ApplicationDetailsViewModel;
@{
    ViewData["Title"] = "Application Detail";
}
@if (!String.IsNullOrEmpty(Model.message))
{
    if (Model.message.StartsWith("Success"))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>
                @Model.message
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    else if (Model.message.StartsWith("Failed"))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
                @Model.message
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <img src="/Home/RetriveImage/@Model.Application.Id" alt="@Model.Application.StudentName" style="height: 125px; width: 100px; text-align:center;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <p style="color:darkgreen">Applied On: @Model.Application.ApplyDate.ToString("dd-MMM-yyyy") </p>
            <input asp-for="Application.ApplyDate" hidden />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 row">
            <label class="col-md-4 ml-1">SSC Certificate:</label>
            <a href="/Home/GetSSC/@Model.Application.Id" class="col-md-3" target="_blank" style="text-decoration:none"><p>Click Here</p></a>

        </div>
        <div class="col-md-6 row ml-1">
            <label class="col-md-6 ml-1 ">HSC/Diploma Certificate:</label>
            <a href="/Home/GetHSC/@Model.Application.Id" class="col-md-3" target="_blank" style="text-decoration:none"><p>Click Here</p></a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <label style="color:darkgreen;" for="StudentName" class="col-form-label darkgreenlbl">Student Name:</label>
            <input type="text" disabled class="form-control" asp-for="Application.StudentName" id="StudentName" />
        </div>
        <div class="col-md-6">
            <label style="color:darkgreen;" for="Program" class="col-form-label darkgreenlbl">Program:</label>
            <select disabled id="Program" class="form-control" asp-for="Application.ProgramId">
                @foreach (var item in Model.programs)
                {
                    if (item.Id == Model.Application.ProgramId)
                    {
                        <option value="@item.Id" selected="selected">@item.ProgramName</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.ProgramName</option>
                    }
                }

            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label style="color:darkgreen;" for="StudentID" class="col-form-label darkgreenlbl">Student ID:</label>
            <input type="text" disabled class="form-control" asp-for="Application.StudentId" id="StudentID" />
        </div>
        <div class="col-md-6">
            <label style="color:darkgreen;" for="MajorSubject" class="col-form-label darkgreenlbl">Major Subject:</label>
            <select disabled class="form-control" id="MajorSubject" asp-for="Application.MajorSubject">
                @foreach (var item in Model.departments)
                {
                    if (item.Id == Model.Application.MajorSubject)
                    {
                        <option value="@item.Id" selected="selected">@item.DeptName</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.DeptName</option>
                    }
                }

            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label style="color:darkgreen;" for="StudentShip" class="col-form-label darkgreenlbl">StudentShip:</label>
            <select disabled class="form-control" id="StudentShip" asp-for="Application.StudentType">
                @foreach (var item in Model.studentTypes)
                {
                    if (item.Id == Model.Application.StudentType)
                    {
                        <option value="@item.Id" selected="selected">@item.Type</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Type</option>
                    }
                }

            </select>
        </div>
        <div class="col-md-6">
            <label style="color:darkgreen;" for="ChangedCampus" class="col-form-label darkgreenlbl">Changed Campus?:</label>
            <select disabled class="form-control" id="ChangedCampus" asp-for="Application.ChangeNubCampus">
                @if (Model.Application.ChangeNubCampus == true)
                {
                    <option value="true" selected>Yes</option>
                    <option value="false">No</option>
                }
                else
                {
                    <option value="true">Yes</option>
                    <option value="false" selected>No</option>
                }
            </select>
        </div>
    </div>
    @{
        if (Model.Application.ChangeNubCampus == true)
        {
            <div class="row">
                <div class="col-md-6">
                    <label style="color:darkgreen;" for="FromCampus" class="col-form-label darkgreenlbl">From Campus:</label>
                    <select disabled class="form-control" id="FromCampus" asp-for="Application.FromNubCampus">
                        @foreach (var item in Model.Campuses)
                        {
                            if (item.Id == Model.Application.FromNubCampus)
                            {
                                <option value="@item.Id" selected="selected">@item.CampusName</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.CampusName</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <label style="color:darkgreen;" for="ChangedCampus" class="col-form-label darkgreenlbl">To Campus:</label>
                    <select disabled class="form-control" id="ChangedCampus" asp-for="Application.ChangeNubCampus">
                        @foreach (var item in Model.Campuses)
                        {
                            if (item.Id == Model.Application.ToNubCampus)
                            {
                                <option value="@item.Id" selected="selected">@item.CampusName</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.CampusName</option>
                            }
                        }
                    </select>
                </div>
            </div>
        }
    }

    <div class="row">
        <div class="col-md-6">
            <label style="color:darkgreen;" for="IsRegConv" class="col-form-label darkgreenlbl">Registered For Convocation?:</label>
            <select disabled class="form-control" id="IsRegConv" asp-for="Application.RegisteredConv">
                @if (Model.Application.RegisteredConv == true)
                {
                    <option value="true" selected>Yes</option>
                    <option value="false">No</option>
                }
                else
                {
                    <option value="true">Yes</option>
                    <option value="false" selected>No</option>
                }
            </select>
        </div>
        @{
            if (Model.Application.RegisteredConv == true)
            {
                <div class="col-md-6">
                    <label style="color:darkgreen;" for="ConvID" class="col-form-label darkgreenlbl">Convocation No:</label>
                    <select disabled class="form-control" id="ConvID" asp-for="Application.ConvocationId">
                        @foreach (var item in Model.Convocations)
                        {
                            if (item.Id == Model.Application.ConvocationId)
                            {
                                <option value="@item.Id" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <label style="color:darkgreen;" for="MoneyReceipt" class="col-form-label darkgreenlbl">Money Receipt No:</label>
                    <input type="text" disabled class="form-control" asp-for="Application.ExtraTwo" id="MoneyReceipt" />
                </div>
            }
        }

    </div>
    <div class="row" style="margin-bottom:5px;">
        <div class="col-md-6">
            <label style="color:darkgreen;" for="StudentShip" class="col-form-label darkgreenlbl">Email:</label>
            <input disabled class="form-control" id="Email" asp-for="Application.ExtraThree" />
        </div>
        <div class="col-md-6">
            <label style="color:darkgreen;" for="PhoneNo" class="col-form-label darkgreenlbl">Phone:</label>
            <input disabled class="form-control" id="PhoneNo" asp-for="Application.PhoneNo" />
        </div>
    </div>
    <div class="row" style="margin-bottom:5px;">
        <div class="col-md-12">
            <label style="color:darkgreen;" for="address" class="col-form-label darkgreenlbl">Address:</label>
            <textarea class="form-control" disabled id="address" asp-for="Application.Address"></textarea>
        </div>
    </div>
    <div class="row" style="margin-bottom:5px;">
        <div class="col-md-6">
            <label style="color:darkgreen;" for="TotalPayable" class="col-form-label darkgreenlbl">Total Payable For The Program:</label>
            <input class="form-control" disabled id="TotalPayable" asp-for="Application.TotalPayable" />
        </div>
        <div class="col-md-6">
            <label style="color:darkgreen;" for="Fee" class="col-form-label darkgreenlbl">Fee for PVC/Main Certificate:</label>
            <input class="form-control" disabled id="Fee" asp-for="Application.FeeForCertificate" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label style="color:darkgreen;" for="TotalPaid" class="col-form-label darkgreenlbl">Total Paid:</label>
            <input class="form-control" disabled id="TotalPaid" asp-for="Application.TotalPaid" />
        </div>
        <div class="col-md-6" style="text-align: right; align-self: center;">
            <form method="post">
                <button type="submit" asp-action="Approve" asp-controller="DeptSection" asp-route-ID="@Model.Application.Id" class="btn btn-success col-md-3">Approve</button>
                <button type="submit" asp-action="Reject" asp-controller="DeptSection" asp-route-ID="@Model.Application.Id" class="btn btn-danger col-md-3">Reject</button>
            </form>

        </div>
    </div>
</div>