@using EMSJu.Models;
@using EMSJu.Utility;
@model EMSJu.Models.MenusViewModel

@{
    var menu = Context.Session.GetMenu("User", "MenusSetup");
    ViewData["Title"] = "Menus Setup";
}
@section StyleSheet{
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@if (!String.IsNullOrEmpty(Model.message))
{
    if (Model.message.StartsWith("Success"))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>
                @Model.message
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    else if (Model.message.StartsWith("Failed"))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>
                @Model.message
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else if (Model.message.StartsWith("Sorry"))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
                @Model.message
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<div class="row mb-3">
    <div class="col-sm-12 col-lg-12 mb-4">
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Menus</h6>

                @{


                    if (menu.OPAdd)
                    {
                        <a class="m-0 float-right btn btn-success btn-sm" asp-action="create">
                            Add <i class="fas fa-plus"></i>
                        </a>
                    }
                }

            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush" id="dataTableHover">
                    <thead class="thead-light">
                        <tr>
                            <th>Sl#</th>
                            <th>Menu Name</th>
                            <th>Menu Caption</th>
                            <th>Menu Caption Bangla</th>

                            <th>Serial No</th>
                            <th>Page Url </th>
                            <th>Module Id  </th>
                            <th>Order No   </th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{int sl = 0; }
                        @foreach (var item in Model.List)
                        {
                            sl = sl + 1;
                            <tr>
                                <td>@sl</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MenuName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MenuCaption)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.MenuCaptionBng)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.SerialNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PageUrl)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModuleId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderNo)
                                </td>
                                <td>
                                    @if (menu.OPEdit)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.MenuId" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                    }
                                    @if (menu.OPDelete)
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.MenuId" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>

</div>
@section Scripts{
    @*Page level plugins*@
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    @* Page level custom scripts*@
    <script>
        $(document).ready(function () {
            // $('#dataTable').DataTable(); // ID From dataTable
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>
}