@model UsersViewModel
@using CertificationMS.Utility;

@{
    ViewData["Title"] = "Users";
    EmpMenus menu = new EmpMenus();
    menu = Context.Session.GetMenu("User", "User");
}
@section StyleSheet{
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@if (!String.IsNullOrEmpty(Model.message))
{
    if (Model.message.StartsWith("Success"))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>
                @Model.message
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    else if (Model.message.StartsWith("Failed"))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
                @Model.message
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<div class="row mb-3">
    <div class="col-sm-12 col-lg-12 mb-4">
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                @{
                    if (menu.OPEdit)
                    {
                                <a class="m-0 float-right btn btn-success btn-sm" asp-action="create">
                                    Add New <i class="fas fa-plus"></i>
                                </a>
                    }

                }
                
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                        <tr>
                            <th>Sl#</th>
                            <th>Login ID</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>EmailAddress</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (var item in Model.List)
                        {
                            i = i + 1;
                        <tr>
                            <td>@i</td>
                            <td>@item.LoginId</td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @Model.ListDeg.SingleOrDefault(e => e.Id == item.Designation).Name

                            </td>
                            <td>
                                @item.EmailAddress
                            </td>
                            <td>
                                @{
                                    if (item.Status)
                                    {
                                        <p class="text-success"> Active</p>

                                    }
                                    else
                                    {
                                        <p class="text-danger"> InActive</p>
                                    }


                                }

                            </td>
                            @{
                                if (menu.OPEdit)
                                {
                                    <td><a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-sm btn-warning">Edit</a></td>
                                }

                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>

</div>
@section Scripts{
    @*Page level plugins*@
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    @* Page level custom scripts*@
    <script>
        $(document).ready(function () {
            // $('#dataTable').DataTable(); // ID From dataTable
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>
}