@model EMSJu.Models.ExamMasterCreateVM
@{
    ViewData["Title"] = "Edit Exam";
}
<div class="card mb-4 col-md-6">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Edit Campus</h6>
    </div>
    <div class="card-body">
        <form method="post">
            @Html.HiddenFor(m => m.Exam.Id)
            <div class="form-group">
                <label asp-for="Exam.ExamName" for="exampleInputEmail1">Exam name</label>
                <input asp-for="Exam.ExamName" required placeholder="Enter Exam Name" class="form-control" aria-describedby="emailHelp">

                <span asp-validation-for="Exam.ExamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exam.SemesterId" for="exampleInputEmail1">Semester </label>
                <select asp-for="Exam.SemesterId" required class="form-control select-single">
                    <option>Select Semester</option>
                    @foreach (var item in Model.SemesterList)
                    {
                        if (item.SemisterId == Model.Exam.SemesterId)
                        {
                            <option selected value="@item.SemisterId"> @item.SemisterName</option>

                        }
                        else
                        {
                            <option value="@item.SemisterId"> @item.SemisterName</option>

                        }
                    }
                </select>

                <span asp-validation-for="Exam.SemesterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exam.IsComplete" for="exampleInputEmail1">Exam Complete? </label>
                @Html.CheckBoxFor(e => e.Exam.IsComplete, new { @class = "form-control" })

                <span asp-validation-for="Exam.IsComplete" class="text-danger"></span>
            </div>


            <div class="form-group">

                <input type="submit" asp-action="Edit" value="Update" class="btn btn-primary " />
            </div>
        </form>
        <div class="card-footer text-muted">
            <div>
                <a asp-action="List">Back to List</a>
            </div>
        </div>
    </div>
</div>